In [2]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
import cartopy.crs as ccrs

In [3]:
dir = [7, 4, 3, 5, 6, 12, 17, 46, 62, 88, 99, 103, 116, 139, 157, 168, 172, 177, 179, 188, 189, 196, 195, 251, 295, 313, 318, 332, 343, 351, 356, 365, 376, 379, 384, 390, 395]
dirbien = [2878663969, 2878663970, 2878663973, 2878663974, 2878663975, 2878663978, 2878663982, 8344527683, 1937520796, 1409273276, 1793387639, 1793387640, 1440984138, 1686407305, 1686407309, 1686407311, 6573152442, 6641095208, 1441012853, 1441012871, 1441012915, 1441012886, 1441012914, 1660016551, 1648032635, 1648032627, 1441012844, 1686535986, 1613616131, 1613615926, 1613616007, 559863011, 559863010, 1616219936, 1616219980, 1616219989, 1616219923]

cost = [0.0, 29.548540660348813, 65.41857405173292, 91.34248049080664, 102.86045884745688, 132.0496051927286, 160.901289743549, 348.1305824022336, 408.0092488342952, 534.53006506967, 600.2625744892217, 619.9407955213939, 680.3136846108239, 762.9008862932637, 835.3604803043099, 894.4202913139893, 923.9025985054311, 969.7624915965732, 979.4165252112034, 1014.2283722016256, 1023.2383893133688, 1050.7612071913716, 1057.0565924139491, 1296.4516010033028, 1509.8010653857305, 1594.1057916502166, 1608.0705297613333, 1686.9238427059179, 1757.5017693765103, 1812.3344272675329, 1869.6940031982251, 1940.1602759147877, 2011.007321233573, 2078.7118196932593, 2134.258137886918, 2191.927689838205, 2258.32244494851]

out = [1613615987, 2881061728, 8685626743, 1374116083, 1396513948, 1686407337, 1914379607, 1937520874, 1914379590, 1440984066, 1407606527, 1803377952, 558858526, 1686407341, 1640060064, 434561404, 1441012926, 1386855361, 1616219944, 1409296918, 1648032637, 1407606624, 1648002207, 6576832697, 8794293681, 1383979991, 1441012834, 1659913126, 945596331, 6576881949, 945584811, 1613616047, 283528400, 6573009419, 1396614909, 1383637857, 1914379566, 8788568771, 7767876289, 7744659361, 1441012863, 6576881947, 7700737397, 1640060106, 1659913062, 1937520817, 1394426198, 1386855340, 8788568762, 1914379596, 1616219936, 1613616018, 1648032631, 434789942, 1686634011, 800825525, 1450016416, 7744659371, 1686407309, 4721302910, 1914379605, 1686407369, 1396621647, 390384657, 6146403883, 2878506068, 2878663978, 1396614927, 6576881951, 1686407362, 1386855347, 1793387647, 6146423568, 1686407366, 1659913441, 1613615977, 1613616123, 7722171683, 1648027722, 6573009409, 1613616073, 1648027730, 8788568770, 1914379568, 1686407328, 1441012847, 1613616131, 1940884035, 1937520904, 1937520857, 1648027717, 945596345, 8794293682, 1914379580, 1407606475, 1440984178, 1199359073, 1441012914, 1613615921, 410809071, 1937520820, 1914379564, 1686407311, 1937520855, 1937520796, 1441012853, 6573009425, 6572956182, 1441012886, 1407720667, 8685626744, 1383633724, 8685588821, 1789379528, 5560950704, 8814475657, 1648002199, 1937520791, 411200300, 1396513893, 8347822076, 1616219980, 1441012871, 6340519068, 7715016664, 1441012862, 8685626628, 1440984190, 1648032627, 1686535986, 8789145767, 1400089889, 5664313769, 1937520793, 1199359170, 1803377947, 1199359328, 2878663982, 1660016557, 8340661890, 1648002296, 1386855341, 1686407358, 1914379584, 1793387696, 2878663980, 8814475665, 1793387644, 1440984085, 1648027642, 1440984157, 1386872784, 801475128, 1659913053, 1396513895, 1686407340, 1199359732, 1648002233, 1914379572, 1083338933, 6641095208, 1789379529, 8340661894, 2878506085, 1394526993, 1396513889, 559863011, 1686634016, 1199359875, 945591940, 1613616104, 945596338, 8348371079, 1383637861, 8814449099, 1396513947, 1648032643, 1686407326, 1450153067, 1613616009, 1648032635, 1789379524, 7767876292, 1914379557, 411200303, 1793387636, 1648032639, 7714390586, 8813812421, 8340661893, 1937520847, 1648002257, 1396513715, 1937520822, 8814475663, 8814475666, 6146423563, 1937520873, 1660016551, 1648002253, 1686634015, 1407606433, 1394426259, 1937520846, 1450153074, 8789145768, 1383622942, 1937520826, 411200299, 1914379573, 1937520861, 945584834, 1409296908, 411200297, 6572956176, 8340661891, 7722217032, 1394426174, 1199359038, 1686407370, 1648002181, 1441012868, 8344527683, 7715016665, 434561406, 7717581604, 1441012844, 1394426281, 1450016383, 5664313770, 8788568766, 1937520881, 1396513832, 8789133718, 1441012908, 1648002213, 1648002332, 2878506099, 1660016539, 1450016570, 1613616007, 1686407364, 3001811908, 1386855328, 1648032629, 1383805305, 1440984138, 1660016542, 2878663969, 1613615926, 8344527684, 1937520852, 1407606805, 6573152442, 1383805341, 1441012937, 2878663983, 8340673468, 1686407375, 6573009406, 1686535980, 1374116140, 1613615895, 1386872787, 1793387638, 945584828, 1385274583, 1648027683, 1660016550, 1648032642, 434561389, 1407606626, 1441012857, 1396614899, 1914379599, 1396513687, 1440984111, 1648002211, 1613616019, 1441012911, 8340673469, 1440984148, 2878663974, 1385274547, 1394426257, 8813812420, 1395059764, 1914379569, 2878506087, 1613615958, 1440984097, 7715016662, 2878663975, 1441012930, 1937520816, 1199360059, 1937520821, 1616219989, 1199359156, 1937520805, 8787957484, 6573152444, 1450016511, 1386855327, 1199359278, 1793387643, 1937520879, 434790003, 1396513776, 1648002327, 8345673551, 2878663973, 7745121761, 558858536, 1686407373, 1407782484, 1441012941, 1383633723, 1616219923, 1659913354, 1613616062, 1937520866, 1648002234, 6576832696, 8340661900, 945596337, 1440984132, 1686407335, 1914379578, 1409296932, 1441012884, 1441012915, 2878506077, 1450016508, 1409273276, 1686535933, 1396513697, 1613616077, 1793387697, 1686407377, 434789943, 1793387640, 1407606723, 8813812422, 1450016373, 283528422, 1686407376, 1659913391, 1199360019, 1613615949, 1440984128, 1409296857, 1793387639, 1914379570, 434561407, 1686634019, 1374116086, 1396513919, 1616219865, 1686407367, 1914379594, 1660016544, 1937520871, 559863010, 1937520856, 1396513807, 1686407352, 1914379609, 1937520803, 1793387649, 1374116174, 1648002282, 1199359932, 1616219881, 1450153069, 1648027682, 1686407361, 1686407379, 1648002268, 6573054151, 2878506067, 6576881950, 8340661896, 1441012893, 2878663970, 1793387631, 1199359994, 1613616003, 1686634014, 1409296882, 1613616107, 1686407372, 1396621621, 1686407305, 1914379574, 8345673552, 1407720665, 8610864139, 1441012851, 1396617404, 1407606606, 1396513665, 1613616121, 2878663979, 1648027685, 1803377948, 1386872791, 1613615948, 1396513641]

In [4]:
headers = ['id', 'latitude', 'longitude', 'noneed']
df = pd.read_csv('kmred.csv', names=headers)
df.drop(columns=['noneed'], inplace=True)
df.head()

           id   latitude   longitude
0  6573009406  20.640171 -103.424105
1  4721302910  20.639988 -103.425138
2  6573009409  20.639950 -103.424905
3  1616219881  20.639924 -103.424757
4  6340519068  20.639817 -103.424140

In [5]:
filtered_df = df[df['id'].isin(out)]
#filtered_df.to_csv('mapa_grafos_out.csv')

In [6]:
out = df[df['id'] == 1409273276]
out

             id   latitude  longitude
322  1409273276  20.626431 -103.42526

In [8]:
puente = 1409273276

cercano = 7715016665

In [9]:
out = df[df['id'] == 7715016665]
out

             id   latitude   longitude
399  7715016665  20.623271 -103.421098